#logo-img{
    width: 100px;
    height: 100px;
}
.car-img{
    height: 50vh;
}
.p-color{
    color: #DD0A10
}
.bg-color{
   background-color: #F2C46D
}

.p-secondary{
    color: #F2C46D
}
/* .marquee-container {
  width: 100%;
  background-color: #f8f9fa;
  padding: 15px 0;
} */

.marquee-content {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  padding: 0 20px;
  font-size: 1.2rem;
  color: #495057;
}
.marquee-img{
  /* height: 100px; */
  width: 150px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Optional: Pause animation on hover */
.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}
  @media screen and (max-width:516px) {
    .car-img{
        height: 30vh;
    }
    
  }
  .panding{
    padding-top: 18px ;
    padding-bottom: 18px ;
  }
  *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }